{% extends "layout.jinja2" %}

{% block content %}
<div class="dashboard-header mb-4">
  <h1>Welcome to LesNet</h1>
  <p>Your AI-powered assistant for skin lesion image analysis.</p>
</div>

<div class="row">

  <div class="col-md-4">
    <!-- Upload Section -->
    <div class="card mb-4 p-3 shadow border-0">
      <div class="card-body p-4">
        <h5 class="card-title text-center text-primary mb-4">Upload an Image for Analysis</h5>
        <form id="upload-form" method="post" enctype="multipart/form-data" class="text-center">
          <!-- Drag and Drop Area -->
          <div id="drop-area" class="drop-area position-relative mb-3">
            <div class="drop-message">
              <i class="fas fa-cloud-upload-alt fa-3x text-primary mb-2"></i>
              <p class="mb-0 text-muted">Drag & Drop your image here</p>
              <small class="text-secondary">or click to browse</small>
            </div>
            <input type="file" id="image" name="image" accept="image/*" hidden required>
          </div>

          <!-- Preview Area -->
          <div id="preview-container" class="preview-container mb-3" style="display: none;">
            <img id="preview-image" class="img-fluid rounded shadow-sm" alt="Image preview">
            <p class="mt-2 text-secondary small">Preview of your selected image</p>
          </div>
        </form>

        <!-- Loading Indicator -->
        <div id="loading" class="text-center mt-4" style="display: none;">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <p  class="mt-3 text-muted">Analyzing image... Please wait.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">

    <!-- Analysis Results -->
    <div id="analysis-box" class="mb-4 card shadow border-0">
        <div class="card-body">
            <h5 class="card-title">Analysis Results:</h5>
            <hr>
            <div id="analysis-result" class="text-center py-4">
                <p>No analysis available yet.</p>
            </div>
            <div id="analysis-actions" class="text-center d-none" style="display:none;">
                <button class="btn btn-primary btn-sm mt-3">Download Report</button>
            </div>
        </div>
    </div>

    <!-- Diagnosis Information -->
    <div id="diagnosis-info" class="card mb-4 p-3 shadow border-0">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{request.static_url('skinvestigatorai:static/doc2.webp') }}" id="diagnosis-image" class="diagnosis-image img-fluid rounded-start" alt="Diagnosis Image" style="display:none;">
                <img src="{{request.static_url('skinvestigatorai:static/doc.webp') }}" class="default-diagnosis-image img-fluid rounded-start" alt="Default Diagnosis Image of a flat material style doctor">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Diagnosis Information</h5>
                    <p id="diagnosis-description" class="card-text">Upload an image to get started.</p>
                    <p class="card-text">
                        <small id="diagnosis-last-updated" class="text-muted">Last updated: N/A</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

  </div>

  <div class="col-md-12">
    <!-- Disclaimer Section -->
    <div class="card mb-4 shadow border-0 text-dark bg-disclaimer" style="background-image: url('{{request.static_url('skinvestigatorai:static/disclaimer-bg.jpeg') }}');">
      <div class="card-body">
        <h4>Disclaimer:</h4>
        <p class="card-text">
          This tool is intended for informational purposes only and should not be used as a substitute for professional advice. Always consult a qualified medical professional for guidance.
        </p>
      </div>
    </div>
  </div>
</div>



<script src="{{ request.static_url('skinvestigatorai:static/js/file-upload.js') }}"></script>

{% endblock content %}
