{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    <h1><span class="smaller">SkinVestigator<span class="font-semi-bold">AI</span></span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, &nbsp;Always consult a <span class="font-normal">Medical Professional</span>, this application is not intended to be used as a definitive diagnosis&nbsp;.</p>
</div>
<section class="evaluation">
	<div class="evaluation__photo">
            <!-- Camera -->
            <main id="camera" class="photo-container">

                <!-- Camera sensor -->
                <canvas id="camera--sensor" style="display: none;"></canvas>

                <!-- Camera view -->
                <video id="camera--view" autoplay playsinline></video>

                <!-- Camera output -->
                <img src="//:0" alt="" id="camera--output">

                <!-- Camera trigger -->
                <button id="camera--trigger">Take a picture</button>

            </main>
	</div>
	<div class="evaluation__info">
        <div class="title">
            <h1>Image Analysis Dashboard</h1>
            <span>Upload a photo to evaluate this model</span>
		</div>
        <div id="loading" style="display: none;">
            <img src="{{ request.static_url('skinvestigatorai:static/loading.gif') }}">
        </div>
		<div class="results-container">
            <div id="response-data" class="result"></div>
            {% if prediction %}
            <div class="result">
                <span>{{ confidence|round(2) }}% it is {{ prediction }}</span>
            </div>
            {% endif %}
        </div>

	</div>
</section>

<style>
.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url({{ request.static_url('skinvestigatorai:static/min/camera.png') }});
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.custom-file-upload input[type='file'] {
    display: none;
}

.custom-file-upload label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-file-upload label:hover {
    background-color: #444;
    transform: scale(1.05);
}

.custom-file-upload i.fa {
    margin-right: 10px;
}
</style>


<!-- Add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Add AJAX script -->
{% endblock content %}
