{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    <h1><span class="smaller">Les<span class="font-semi-bold">Net</span></span></h1>
    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, &nbsp;Always consult a <span class="font-normal">Medical Professional</span>, this application is not intended to be used as a definitive diagnosis&nbsp;.</p>
</div>
<section class="evaluation">
	<div class="evaluation__photo">
            <!-- Camera -->
            <main id="camera" class="photo-container">

                <!-- Camera sensor -->
                <canvas id="camera--sensor" style="display: none;"></canvas>

                <!-- Camera view -->
                <video id="camera--view" autoplay playsinline></video>

                <!-- Camera output -->
                <img src="//:0" alt="" id="camera--output">

                <!-- Camera trigger -->
                <button id="camera--trigger"><span class="material-symbols-outlined">photo_camera</span> Take a picture</button>
                <button class="bottom-floating--button">
                 <form class="upload-form" name="UploadForm" action="{{ request.route_url('predict') }}" method="post" enctype="multipart/form-data">
                    <div class="custom-file-upload">
                        <input type="file" name="image" id="image" accept="image/*" onchange="handleFileChange(event)">
                        <label for="image">
                            <span class="material-symbols-outlined">upload</span> Upload an Image
                        </label>
                    </div>
                 </form>
                </button>
            </main>
	</div>
	<div class="evaluation__info">
        <div class="title">
            <h1>Image Analysis Dashboard</h1>
            <span>Upload a photo to evaluate this model</span>
		</div>
        <div id="loading" style="display: none;">
            <img src="{{ request.static_url('skinvestigatorai:static/loading.gif') }}">
        </div>
		<div class="results-container">
            <div id="response-data" class="result"></div>
            {% if prediction %}
            <div class="result">
                <span>{{ confidence|round(2) }}% it is {{ prediction }}</span>
            </div>
            {% endif %}
        </div>
	</div>
</section>

<style>

.custom-file-upload input[type='file'] {
    display: none;
}

.custom-file-upload label {
    font:inherit!important;
    font-weight: normal;
    cursor: pointer;
}

.custom-file-upload label:hover {
    background-color: #444;
    transform: scale(1.05);
}

.custom-file-upload i.fa {
    margin-right: 10px;
}
</style>


<!-- Add jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Add AJAX script -->
<script>
    $(document).ready(function() {
        $(".upload-form").on("submit", function(event) {
            event.preventDefault();

            var formData = new FormData(this);

            var reader = new FileReader();
            reader.onload = function(e) {
                $(".photo-container img").attr("src", e.target.result);
                $(".photo-container img").attr("alt", "Uploaded image");
            }
            reader.readAsDataURL($("#image")[0].files[0]);

            $("#loading").show();

            $.ajax({
                url: "{{ request.route_url('predict') }}",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $("#loading").hide();
                    $(".results-container").html(`
                        <div class="result">
                            <span>${(data.confidence).toFixed(2)}% it is ${data.prediction}</span>
                        </div>
                    `);
                },
                error: function(data) {
                    $("#loading").hide();
                    var errorMessage = "An error occurred while processing the image.";
                    if (data.error) {
                        errorMessage = "<div class='alert alert-info'><span class='emoji'>&#129300;</span> " +
                                       "I'm not too sure about this one. Please make sure the image is of a skin lesion, is clear, focused, and occupies most of the frame while leaving sufficient space around the edges.</div>";
                    } else {
                        errorMessage = "<div class='alert alert-danger'>" + errorMessage + "</div>";
                    }

                    $(".results-container").html(errorMessage);
                }

            });
        });
    });

    function updateFileName(inputElement) {
        var fileName = inputElement.files[0].name;
        document.getElementById('file-name').innerText = " " + fileName;
    }
</script>
{% endblock content %}
